*{
    margin: 0;
    padding: 0;
}

nav {
    width: 45vw;
    height: 8vh;
    background-color:#123524;
    margin: 0 auto;
    border-radius: 0% 0% 10% 10%;
    text-align: center;
    box-shadow: 8px 11px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 120px
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    color: #007BFF;
}

@media screen and (max-width: 1000px) {
    nav {
        width: 80vw;
    }
    
}